<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>
  {{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{
  end }}
</title>
<link rel="stylesheet" href="/css/main.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.min.css"
/>
<script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
></script>
<script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox.min.js"
></script>

<script src="https://cdn.jsdelivr.net/npm/vega@5.30.0"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@5.21.0"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@6.26.0"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
<script src="/echartsTheme.js"></script>
<script src="/echartsResize.js"></script>

<script defer>
  lightbox.option({
    resizeDuration: 200,
    fadeDuration: 0,
    wrapAround: true,
  })
</script>

{{ if .IsHome }}
<meta name="description" content="{{ .Site.Params.description }}" />
{{ else }}
<meta name="description" content="{{ .Description }}" />
{{ end }}
