<head>
{{ template "_internal/google_analytics.html" . }}
        <link rel="alternate"
            type="application/rss+xml"
            href="{{.Site.BaseURL }}/index.xml"
            title="{{ .Site.Title }}">
</head>
<nav class="header">
    <span class="title-container">
        <a href="{{ .Site.Home.RelPermalink }}" class="site-title">{{ .Site.Title }}</a>
    </span>
    <span class="menu">
	    <a href="{{ .Permalink }}/index.xml" target="_blank">RSS</a> 
        <a href="{{ relLangURL "about" }}   ">{{ i18n "about" | default "about" }}</a>
        {{ if .IsTranslated }}
        {{ range .AllTranslations }}
        {{ if ne .Language $.Language }}
        <a href="{{ .Permalink }}" class="lang-switch">{{ .Language.LanguageName }}</a>
        {{ end }}
        {{ end }}
        {{ else }}
        {{ range $.Site.Home.AllTranslations }}
        {{ if ne .Language $.Language }}
        <a href="{{ .Permalink }}" class="lang-switch">{{ .Language.LanguageName }}</a>
        {{ end }}
        {{ end }}
        {{ end }}
    </span>
</nav>