<div class="image-grid">
  {{ $json := .Inner | unmarshal }} {{ range $json.images }} {{ $image :=
  $.Page.Resources.GetMatch .src }}
  <a
    href="{{ if $image }}{{ $image.RelPermalink }}{{ else }}{{ .src }}{{ end }}"
    data-lightbox="x"
  >
    <div class="image-grid-item">
      <img src="{{ if $image }}{{ $image.RelPermalink }}{{ else }}{{ .src }}{{
      end }}" alt="{{ .alt | default "Project screenshot" }}"> {{ with .caption
      }}
      <div class="image-grid-caption">{{ . }}</div>
      {{ end }}
    </div>
  </a>
  {{ end }}
</div>
